<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="TravelersAround.Service.TravelersAroundService" behaviorConfiguration="apikey">
        <!--<endpoint address="http://localhost" binding="basicHttpBinding"
          bindingConfiguration="" contract="WCFRestServiceWithKey1.IService1" behaviorConfiguration="apikey" />-->
      </service>
      <service name="TravelersAround.Service.MembershipService">
        <!--<endpoint address="http://localhost" binding="basicHttpBinding"
          bindingConfiguration="" contract="WCFRestServiceWithKey1.IService2" />-->
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="apikey">
          <!-- This behavior enables API Key Verification -->
          <serviceAuthorization serviceAuthorizationManagerType="TravelersAround.Service.APIKeyAuthorization, TravelersAround.Service" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    
  </system.serviceModel>
  
 <system.webServer>
   <modules runAllManagedModulesForAllRequests="true">
     <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
   </modules>
  </system.webServer>
  
</configuration>
