body
{
    background-color: #FFFFFF;
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
    padding: 0;
    margin:0px 0px;
	text-align:center;
    color: black;
}

a:link
{
    color: #034af3;
    text-decoration: none;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    
    text-decoration: underline;
}
a:active
{
    color: #000099;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

ul li
{
    list-style-type:none;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width:940px;
	margin:0px auto;
	text-align:left;
	
	min-height:600px;
}

#header
{
    position: relative;
    color: #000;
    padding: 0;
    float: left;
    width: 100%;
    padding-left:30;
    margin-top:20px;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
}

#main
{
    padding-left:100px;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
    width:800px;
    min-height:500px;
    float:left;
}

#footer
{
    border-style: solid none none none;
    border-top-width: 1px;
    float:left;
    width:100%;
}

#footer div
{
    display: inline-block;
}
#footer ul
{
    float:right;
    margin-top:0px;
}
#footer ul li
{
    display:inline;
    list-style: none;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    padding: 0 0 2px;
    position: relative;
    margin-top: 102px;
    text-align: left;
}

ul#menu li
{
    display: inline-block;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    border-radius: 15px;
    padding: 10px 20px 15px 35px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #E8EEF4;
    color: black;
}

ul#menu li a:hover
{
    background-color: #ADADAD;
    text-decoration: none;
    color: white;
}

ul#menu li a:active
{
    background-color: #99CCFF;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
    border-radius:15px;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 400px;
    min-width:400px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}



/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    float:left;
}

div#logo
{
    display:block;
    float:left;
    text-align:left;
}

div#logo img
{
    width:80px;
    height:80px;
}

#status-message-container
{
    margin-left: 150px;
    width: 406px;
}

#login-display-container
{
    float:right;
}

.rounded-box
{
    background-color:#e8eef4;
    border:1px solid #ddd;
    margin-left:20px;
    padding:5px;
    border-radius:15px;
    padding: 20px;
    margin:10px 0px 10px 0px;
}

#session-info
{
    width:230px;
    height:89px;
}
#content-container
{
    background-color:White;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    width:auto;
    float:right;
}

#logindisplay a:link
{
    text-decoration: underline;
}

#logindisplay a:visited
{
    text-decoration: underline;
}

#logindisplay a:hover
{
    text-decoration: none;
}

.profile_pic
{
    width: 100px;
    height: 100px;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
    background: transparent url(/content/img/icons/note.png) no-repeat center left;
    padding-left: 20px;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#ui_message
{
    width:75%;
    margin-left: 50px;
}
p.notification_message
{
    background: transparent url(/content/img/icons/check.png) no-repeat center left;
}

p.info-message
{
    background: transparent url(/content/img/icons/info.png) no-repeat center left;
}
/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
    font-weight:bold;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

.submit-button
{
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    padding: 5px;
    background-color: #5B74A8;
    border: 0 none;
    color: White;
}

.submit-button:active
{
    background-color: #ADADAD;
}    

/* Styles for specific editors and display helpers
-----------------------------------------------------*/

fieldset.send-message input[type="text"]
{
    min-width:400px;
}


/* Page main content
----------------------*/

.main-area
{
    /*float:left;*/
    width:100%;
}

.side-menu
{
    width:50px;
    margin-right:10px;
    float:inherit;
    padding-left: 10px;
    padding-right: 30px;
    
}

.side-menu div
{
    padding-top:10px;
}





/* Messages List
-----------------------*/

#side-menu
{
    display:inline-block;
    width:110px;
    margin-right:20px;
}

#messages-list
{
    display:inline-block;
    vertical-align:top;
    margin-top:10px;
}

#side-menu ul li
{
    margin-bottom:10px;
}
#Subject
{
    width:400px;
}

#from-to
{
    width:170px;
}

#sent-date
{
}

.toolbar
{
    padding-left:100px;
}

/* Search
------------*/

#status-message-container textarea
{
    min-height:50px;
}

ul#search-results li
{
    border-style: none none solid none;
    border-width: 1px;
    border-color: #ddd;
    margin-bottom:10px;
}

ul#search-results li:hover
{
    background-color: #CFDCE9;
}

ul#search-results div
{
    display:inline-block;
    padding-left:10px;
}

ul#search-results div.traveler-info
{
    
}
ul#search-results div.traveler-statusmsg
{
    width: 380px;
    text-align:left;
    vertical-align:top;   
}
/* Icons
-----------*/

.add-icon, .logout-icon, .search-icon,
.trash-icon, .remove-icon, .new-icon, .inbox-icon,
.sent-icon, .send-message-icon, mail-icon, .edit-icon,
profile-icon, friends-icon, .notification_message,
.info-message
{
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}


.add-icon
{
   
   background: transparent url(/content/img/icons/add.png) no-repeat center center;
   font-size:0px;
}

.logout-icon
{
   
   background: transparent url(/content/img/icons/door.png) no-repeat center left;
}

.search-icon
{
    background: transparent url(/content/img/icons/search.png) no-repeat center left;
    
}

.trash-icon
{
    background: transparent url(/content/img/icons/trash-empty.png) no-repeat center left;
}

.remove-icon
{
    background: transparent url(/content/img/icons/cancel.png) no-repeat center left;
    font-size:0px;
}

.new-icon
{
    background: transparent url(/content/img/icons/document-empty.png) no-repeat center left;
}

.inbox-icon
{
    background: transparent url(/content/img/icons/mail-inbox.png) no-repeat center left;
}

.sent-icon, .send-message-icon
{
    background: transparent url(/content/img/icons/mail-sent.png) no-repeat center left;
}

.send-message-icon
{
    font-size:0px;
}
.mail-icon
{
    background: transparent url(/content/img/icons/mail.png) no-repeat center left;
}

.edit-icon
{
    background: transparent url(/content/img/icons/pen.png) no-repeat center left;
    font-size:0px;
}

.profile-icon
{
    background: transparent url(/content/img/icons/user.png) no-repeat center left;
}

.friends-icon
{
    background: transparent url(/content/img/icons/users.png) no-repeat center left;
}

/* Profile
-----------*/

div#profile-edit textarea
{
    min-height: 50px;
}

div#birthday fieldset
{
    border: 0 none;
    padding: 0px;
}