@model TravelersAround.ServiceProxy.ViewModels.ProfileDisplayView
           
<div id="session-info" class="rounded-box">
    <p>Hello <span id="traveler-name">@Model.Profile.Firstname</span></p>
        
    <p><span id=""></span></p>
</div>

