@if (ViewBag.NotificationMessage != null)
{
    <div id="ui_message" class="rounded-box">
        <p class="notification_message">@ViewBag.NotificationMessage</p>
    </div>
    <script type="text/javascript">
        $("#ui_message").fadeOut(2000);
    </script>
}