<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TravelersAroundEntities" connectionString="metadata=res://*/TravelersAround.csdl|res://*/TravelersAround.ssdl|res://*/TravelersAround.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;AttachDBFilename=|DataDirectory|TravelersAround.mdf;integrated security=True;User Instance=true;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>