@{
    ViewBag.Title = "About Us";
}

<h2>About TravelersAround</h2>
<div class="rounded-box">
<p>
     TravelersAround is an online service provided to travelers around the world, who would like to spontaneously meet fellow travelers or even the locals, without any need to plan anything in advance. Many times, travelers decide to go on a trip alone, because none of their friends were available at that time or they couldn’t find common interest for the same destination. That’s where TravelersAround comes in. As a solo traveler, you  would benefit the most out of it. Travelers log onto the system and receive a report of fellow travelers around their current location. The report is shown in real-time and provides an up-to-date information.
</p>
</div>
