@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to TravelersAround!</h2>
<div class="rounded-box">
    <p>
        Whether you are far away from home on a trip abroad and looking for a fellow traveler to spend time with, or you'd like to meet travelers in your home country and show them around,
        you arrived in the right place. Register to see which travelers are around you, right now!
    </p>

</div>