<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="False" proxyaddress="http://localhost:8888" usesystemdefault="False" />
    </defaultProxy>
  </system.net>
  
  <connectionStrings>
    <add name="TravelersAroundEntities" 
         connectionString="metadata=res://*/TravelersAround.csdl|res://*/TravelersAround.ssdl|res://*/TravelersAround.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NIMROD-LAPTOP\SQLEXPRESS;initial catalog=TravelersAround;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
    <add name="ApplicationServices" 
         connectionString="data source=.\SQLEXPRESS;initial catalog=TravelersAround;integrated security=True"
         providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  
  <system.web>
    
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" 
             type="System.Web.Security.SqlMembershipProvider" 
             connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="true"
             maxInvalidPasswordAttempts="5" 
             minRequiredPasswordLength="6" 
             minRequiredNonalphanumericCharacters="0" 
             passwordAttemptWindow="10"
             applicationName="TravelersAround" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" 
             type="System.Web.Profile.SqlProfileProvider" 
             connectionStringName="ApplicationServices" 
             applicationName="TravelersAround" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" 
             type="System.Web.Security.SqlRoleProvider" 
             connectionStringName="ApplicationServices" 
             applicationName="TravelersAround" />
      </providers>
    </roleManager>
    
  </system.web>
</configuration>